<div class="message-container-received" >
  <div class="message-inner-received me" >
    <div class="author">
      <span><%= message.user.first_name%></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </div>
    <p><%= message.content %></p>
  </div>
</div>

