// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-purple: #91318A;
$dark-purple: #72328B;
$purple-grad: linear-gradient(to right, $dark-purple,$light-purple);

$light-blue: #00ACB7;
$dark-blue: #0090AA;
$blue-grad: linear-gradient(to right, $light-blue,$dark-blue);

$light-yellow: #F9DD47;
$dark-yellow: #EFAC42;
$yellow-grad: linear-gradient(to right, $light-yellow,$dark-yellow);

