.about-header {
  padding: 40px;
  color: $dark-purple;
  background-color: $light-gray;
}

.how-it-works {
  padding: 40px;

  h2 {
    color: $dark-blue;
    font-size: 40px;
  }

  h4 {
    color: $dark-purple;
  }

  .card-description {
    align-self: flex-start;
  }

}

.categories {
  padding: 40px;
  background-color: $light-gray;

  h2 {
    color: $dark-purple;
  }
}

.cards-showcase {
  display: flex;
  justify-content: center;
  padding-left: 150px;
}

#showcase-helprs {
  margin-top: 40px;
  padding-left: 120px;

  h2 {
    color: $light-purple;
    margin-right: 150px;
  }
}


.card-helpr {
  padding: 20px;
  box-shadow: rgba(0,0,0,0.5);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a:hover {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.6;
    color: rgba(0,0,0,0.6)
  }

  p {
    color: black;
    margin-top: 8px;
    font-weight: bold;
  }
}




