<div class="container">

    <div class="d-flex">
      <div class="devcard col-6">
        <div>
          <%= image_tag "zack.jpg", class: "devimg" %>
        </div>
        <div class="devcard1">
          <h2 class="ml-2">Zack</h2>
          <p class="ml-2">I love to design and build digital products</p>
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a target="_blank" href="https://www.facebook.com" class="btn-floating btn-fb mx-1">
                <i class="fab fa-linkedin"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://twitter.com/CommunityHelpr" class="btn-floating btn-tw mx-1">
                <i class="fab fa-github"> </i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="devcard col-6">
        <div>
          <%= image_tag "zack.jpg", class: "devimg" %>
        </div>
        <div class="devcard1">
          <h2 class="ml-2">Zack</h2>
          <p class="ml-2">I love to design and build digital products</p>
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a target="_blank" ,="" href="https://www.facebook.com" class="btn-floating btn-fb mx-1">
                <i class="fab fa-linkedin"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://twitter.com/CommunityHelpr" class="btn-floating btn-tw mx-1">
                <i class="fab fa-github"> </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

      <div class="devcard col-6">
        <div>
          <%= image_tag "zack.jpg", class: "devimg" %>
        </div>
        <div class="devcard1">
          <h2 class="ml-2">Zack</h2>
          <p class="ml-2">I love to design and build digital products</p>
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a target="_blank" href="https://www.facebook.com" class="btn-floating btn-fb mx-1">
                <i class="fab fa-linkedin"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://twitter.com/CommunityHelpr" class="btn-floating btn-tw mx-1">
                <i class="fab fa-github"> </i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="devcard col-6">
        <div>
          <%= image_tag "zack.jpg", class: "devimg" %>
        </div>
        <div class="devcard1">
          <h2 class="ml-2">Zack</h2>
          <p class="ml-2">I love to design and build digital products</p>
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a target="_blank" ,="" href="https://www.facebook.com" class="btn-floating btn-fb mx-1">
                <i class="fab fa-linkedin"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://twitter.com/CommunityHelpr" class="btn-floating btn-tw mx-1">
                <i class="fab fa-github"> </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>

</div>
