<div class="dev-container">
<div class="container">


  <div class="dev-grid">
        <div class="devcard5 col-6-lg mb-3">
          <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div>
                <div class="align-middle">
                  <%= image_tag "zack.jpg", class: "devimg" %>
                </div>
              </div>
                <div class="devcard2">
                  <h2 class="ml-2">Zack</h2>
                  <p class="ml-2">I love to design and build digital products that add value to society.</p>
                </div>
            </div>
            <div class="col-12">
              <ul class="list-unstyled list-inline text-center mb-1">
                <li class="list-inline-item">
                  <a target="_blank" href="https://www.linkedin.com/in/zackrosedev/" class="btn-floating btn-fb mx-1">
                    <i class="fab fa-linkedin"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                   <a target="_blank" href="https://github.com/zackrosegithub" class="btn-floating btn-tw mx-1">
                    <i class="fab fa-github"> </i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="devcard col-6-lg mb-3">
          <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div>
                <div class="align-middle">
                 <%= image_tag "camelia.jpg", class: "devimg" %>
                </div>
              </div>
                <div class="devcard1">
                  <h2 class="ml-2">Camelia</h2>
                  <p class="ml-2">Full-Stack Web Developer whose passion is to produce websites and web apps that users will enjoy interacting with.</p>
                </div>
            </div>
            <div class="col-12">
              <ul class="list-unstyled list-inline text-center mb-1">
                <li class="list-inline-item">
                  <a target="_blank" ,="" href="https://www.linkedin.com/in/camelia-svennes/" class="btn-floating btn-fb mx-1">
                    <i class="fab fa-linkedin"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                   <a target="_blank" href="https://github.com/Cami55" class="btn-floating btn-tw mx-1">
                    <i class="fab fa-github"> </i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>


      <div class="devcard5 col-6-lg mb-3">
        <div class="row">
          <div class="col-12 d-flex align-items-center">
              <div>
              <div class="align-middle">
                <%= image_tag "anthony.jpg", class: "devimg" %>
              </div>
            </div>
              <div class="devcard2">
                <h2 class="ml-2">Anthony</h2>
                <p class="ml-2">I love problem-solving and the idea of being able to build anything I want using code.</p>
              </div>
          </div>
          <div class="col-12">
            <ul class="list-unstyled list-inline text-center mb-1">
              <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/in/anthony-pässler/" class="btn-floating btn-fb mx-1">
                  <i class="fab fa-linkedin"> </i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/anthonyPassler" class="btn-floating btn-tw mx-1">
                  <i class="fab fa-github"> </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>


        <div class="devcard col-6-lg mb-3">
          <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div>
                <div class="align-middle">
                <%= image_tag "gala.jpg", class: "devimg" %>
                </div>
              </div>
                <div class="devcard1">
                  <h2 class="ml-2">Gala</h2>
                  <p class="ml-2">Globe-trotting interpreter turned full-stack developer. I love building pretty things that make the world a better place.</p>
                </div>
            </div>
            <div class="col-12">
              <ul class="list-unstyled list-inline text-center mb-1">
                <li class="list-inline-item">
                  <a target="_blank" ,="" href="https://www.linkedin.com/in/galaanania/" class="btn-floating btn-fb mx-1">
                    <i class="fab fa-linkedin"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://github.com/galasoa" class="btn-floating btn-tw mx-1">
                    <i class="fab fa-github"> </i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>

