<div id="navbar-landing" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "helpr.png", style: "width: 100px" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#how-it-works" class="nav-link">How it works</a>
      </li>
      <li class="nav-item">
        <a href="#showcase-helprs" class="nav-link">Meet our Helprs</a>
      </li>
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner">
  <div id="tagline">
    <h2>Lend a helping hand in your local community</h2>
  </div>

  <div id="hero-ctas" class="container">
    <div class="row">
      <div id="cta-dashboard" class="col-6">
        <p>My <br><strong>Dashboard</strong></p>
      </div>
      <div id="cta-help" class="col-6">
        <p>I need<br><strong>Help</strong></p>
      </div>
    </div>
    <div class="row">
      <div id="cta-become-helpr" class="col-6">
        <p>Become a<br><strong>Helpr</strong></p>
      </div>
      <div id="cta-feed" class="col-6">
        <p>Community<br><strong>Feed</strong></p>
      </div>
    </div>
  </div>

</div>

<div id="about">
  <h2>About</h2>
  <p>We are a group of like-minded humans building a tight-knit community by lending each other a helping hand.</p>
  <div class="cards-categories">
    <!-- insert custom icons here -->
  </div>
</div>

<div id="how-it-works">
  <h3>How it works</h3>
  <p>As a member of the Helpr community, you can feel great about doing a good deed and meet new people by lending a hand to someone in your area. If you need help with some small task you can't do alone, you can also ask around for some help.</p>
  <div class="container">
    <div class="row">
      <div class="card-become-helpr" class="col-6"></div>
      <div class="card-need-help" class="col-6"></div>
    </div>
  </div>
</div>

<div id="showcase-helprs">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque vitae veritatis officiis sed neque deleniti in facere eum. Veritatis pariatur beatae, ratione nemo deleniti quaerat non harum? Totam, illo, soluta.</p>
  <div class="cards-showcase">
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
    <div class="card-helpr"></div>
  </div>
</div>

<footer>
  <div class="contact">
    <ul class="list-inline">
      <li><strong>Contact</strong></li>
      <li>info@helpr.com</li>
      <li>+44 21657 8943</li>
    </ul>
  </div>

  <div>
    <p>© 2020 Helpr</p>
  </div>
</footer>

