#banner {
  height: 80vh;
  background-color: LightGrey;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0;
  color: white;
  background-image: url("/assets/hands.jpg");
  // linear-gradient(135deg, rgba(145,50,148,0.5) 0%, rgba(145,50,148,0.5) 0%),
  background-position: center;
  padding-top: 60px;
}
.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: bold;
    font-size: 65px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  }
}

.hero-ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  color: white;
  display: flex;
  text-align: center;
  background: $purple-grad;
  opacity:0.9;
  margin: 2px;
  margin-bottom: 4px;
  flex-direction: column;
  h3 {
    font-size: 22px;
  }

  a {
    color: white;
  }

  &:hover {
    background: $light-purple;
  }
}

#cta-dashboard {
  border-radius: 50% 50% 0;
}

#cta-help {
  border-radius: 50% 50% 50% 0;
  background: $yellow-grad;
  &:hover {
    background: $light-yellow;
  }
}

#cta-become-helpr {
  border-radius: 50% 0 50% 50%;
  background: $green-grad;
  &:hover {
    background: $light-green;
  }
}

#cta-feed {
  border-radius: 0 50% 50% 50%;
  background: $blue-grad;
  &:hover {
    background: $light-blue;
  }
}
.light {
  font-weight: 300;
}
