#banner {
  height: 80vh;
  background-color: LightGrey;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0;
  color: white;
  background-image: url("/assets/hands.jpg");
  // linear-gradient(135deg, rgba(145,50,148,0.5) 0%, rgba(145,50,148,0.5) 0%),
  background-position: center;
}
.tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: bold;
    font-size: 65px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  }
}

.hero-ctas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  color: white;
  display: flex;
  text-align: center;
  background-color: $dark-purple;
  opacity:0.9;
  margin: 2px;
  flex-direction: column;
  text-decoration: none;

  a {
    color: white
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

#cta-dashboard {
  border-radius: 50% 50% 0;
}

#cta-help {
  border-radius: 50% 50% 50% 0;
   background: linear-gradient(to right, #F9DD47, #EFAC42);

}

#cta-become-helpr {
  border-radius: 50% 0 50% 50%;
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

#cta-feed {
  border-radius: 0 50% 50% 50%;
  background: linear-gradient(to right, #00ACB7, #0090AA);
}
