.card-img-to-left{
  display: flex;
  width: 100vw;
  align-items: center;
}

.card-img {
  height: 100vh;
  width: 30%;
  margin-right: 10%;
  margin-left: 8%;
  margin-top: 30px;
  // margin-bottom: 0px;
  padding-top: 150px;
}

.card-img-to-right{
  width: auto;
  // padding: 32px;
  // text-align: center;
  margin: auto;
}


.container-card-categories {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.cards-categories {
  display: flex;
  color: black;
  p {
    font-weight: bold;
    margin-top: 8px;
  }
}

.card-categories-icon {
  display: flex;
  justify-content: center;
  border-radius: 24px 24px 24px 0;
  align-items: center;
  display: flex;
  background: $purple-grad;
  width: 72px;
  height: 72px;
  margin: 0 24px;
  border-radius: 24px 24px 24px 0;
}

.card-pls-signup {
  display: flex;
  align-items: center;
  border: 3px solid $light-purple;
  margin: 0 10px;
  padding: 8px 16px;
  width: 408px;

  h4 {
    padding-left: 40px;
    color: $dark-blue;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    font-weight: light;
    margin-left: 18px;
    color: black;
    text-align: left;

  }
}

.card-pls-signup-img {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.card-become-helpr {
  border-radius: 40px 40px 0 40px;
}

.card-need-help {
  border-radius: 40px 40px 40px 0;
}

.card-description {
  width: 80%;
}

.why-card {
  display: flex;
  margin: 24px;
  flex-direction: column;
  padding: 16px 32px;

  h3 {
    font-size: 24px;
    padding: 16px;
    color: white;
  }
}

#why-card-1 {
  background: $blue-grad;
}

#why-card-2 {
  background: $green-grad;
}

