
.footer-container{
  margin-left: 25px;
  font-size: 20px;
 letter-spacing: 6px;
}
.page-footer{
  background-color: #fafafa;
  letter-spacing: 2px;
  font-size: 15px;
}
.footer-container i {
  color: $dark-purple;
  &:hover{
    opacity: 0.15;
  }
}
.footer-copyright{
}
.list-unstyled{
  margin-bottom: 0px;
}
@media (max-width: 450px) {
  .page-footer {
    font-size: 10px;
    padding: 0 16px;
  }
}
