.mapboxgl-popup {
  max-width: 200px !important;
}
.mapboxgl-popup-content {
  text-align: center;
  background-color: #f3ebf3;
  a {
    text-decoration: none;
    color: black;
  }
  h3 {
    font-size: 12px;
    margin: 4px auto;
  }
  p {
    font-size: 10px;
    line-height: 1;
    margin-bottom: 0;
  }
  &:hover {
    background-color: #dac3da;
  }
}

