.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index:2;
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-helpr {
  justify-content: space-between;
  background: $purple-grad;
  border-radius: 0px 0px 30px 30px
}

#navbar-landing {
  background: white;

  img {
    height: 40px;
  }

  a {
    color: black
  }

  a:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 300;
  &:hover {
    color: white;
    font-weight: 400;
  }
}
.navbar-light .navbar-nav .active > .nav-link {
  font-weight: 400;
}
.avatar {
  &:hover {
    border: 1px solid white;
  }
}
