// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "flatpickr/dist/themes/airbnb.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "posts/index";
@import "posts/show";
@import "users/dashboard";
@import "users/show";
@import "messages/messages";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}
h3 {
  font-weight: 600;
  font-size: 16px;
}
p {
  font-weight: 300;
  font-size: 16px;
}
.container {
  display-flex: none;
}
.col-5{
  max-width: 100%;
}
.min-height{
  min-height: calc(100vh - 176px)
}
