.dashboard-item {
  background-color: blue;
  height: 225px;
  flex: 0 0 45%;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:nth-child(1) {
    background: $purple-grad;
  }
  &:nth-child(2) {
    background: $blue-grad;
  }
  &:nth-child(3) {
    background: $yellow-grad;
  }
  &:nth-child(4) {
    background: $purple-grad;
  }
}
.dashboard-text {
  text-align: center;
  img {
    margin-bottom: 16px;
  }
}
.bold {
  font-weight: 700;
}
.dashboard-text {
  color: white;
}
.border-bottom-right {
  border-radius: 50px 50px 0px 50px;
}
.border-bottom-left {
  border-radius: 50px 50px 50px 0px;
}
.border-top-right {
  border-radius: 50px 0px 50px 50px;
}
.border-top-left {
  border-radius: 0px 50px 50px 50px;
}
.sub-header-green {
  background: $green-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.sub-header-purple {
  background: $purple-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.sub-header-blue {
  background: $blue-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.nav-item {
  a {
    color: #4C4C4C;
  }
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: white;
  border-color: $light-purple $light-purple $light-purple;
  border-bottom: 1px solid white;
  color: $light-purple;
}
.nav-tabs {
  border-bottom: 1px solid $light-purple;
}
.nav-tabs .nav-link:hover {
  border-color: $light-purple;
  border-bottom: 1px solid white;
}
.tab-content {
  margin-top: 32px;
}
.margin-bottom {
  margin-bottom: 40px;
}
