.top-helpr-container {
  padding-left: 20px;
  padding-right: 0;
  .links {
    text-decoration: none;
    color: white;
  }
}
.top-helpr-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-top: 16px;
  border-radius: 50px 50px 50px 0px;
  background: $purple-grad;
  &:hover {
    background: $blue-grad;
  }
}
.top-helpr-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}
.sub-header-green {
  background: $green-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.sub-header-purple {
  background: $purple-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.sub-header-blue {
  background: $blue-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.nav-item {
  a {
    color: #4C4C4C;
  }
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: white;
  border-color: $light-purple $light-purple $light-purple;
  border-bottom: 1px solid white;
  color: $light-purple;
}
.nav-tabs {
  border-bottom: 1px solid $light-purple;
}
.nav-tabs .nav-link:hover {
  border-color: $light-purple;
  border-bottom: 1px solid white;
}
.tab-content {
  margin-top: 32px;
}
.margin-bottom {
  margin-bottom: 40px;
}
.trophy {
  margin-right: 20px;
}
.points {
  h4 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
}
@media (max-width: 450px) {
  .dashboard-container {
    padding: 0 16px;
    width: 100%;
  }
  .top-helpr-container {
    padding: 0 16px;
    h2 {
      margin-top: 24px;
    }
  }
}
