.top-helpr-container {
  padding-left: 40px;
  padding-right: 0;
  .links {
    text-decoration: none;
    color: black;
  }
}
.top-helpr-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  margin-top: 8px;
  border: 2px solid $light-purple;
  border-radius: 50px 50px 50px 0px;
  background-color: white;
  &:hover {
    background-color: rgba(145, 49, 138, 0.1);
  }
}
.top-helpr-content {
  padding-left: 16px;
}
.sub-header-green {
  background: $green-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.sub-header-purple {
  background: $purple-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.sub-header-blue {
  background: $blue-grad;
  padding: 5px;
  margin: 10px 0;
  color: white;
}
.nav-item {
  a {
    color: #4C4C4C;
  }
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: white;
  border-color: $light-purple $light-purple $light-purple;
  border-bottom: 1px solid white;
  color: $light-purple;
}
.nav-tabs {
  border-bottom: 1px solid $light-purple;
}
.nav-tabs .nav-link:hover {
  border-color: $light-purple;
  border-bottom: 1px solid white;
}
.tab-content {
  margin-top: 32px;
}
.margin-bottom {
  margin-bottom: 40px;
}
