.container-narrow {
  width: 50%;
  margin: 40px auto;
}
.user-info {
  display: flex;
}
.info {
  p {
    margin-bottom: 8px;
    margin-right: 15%;
  }
}
.address {
  font-weight: 400;
}
.reviews {
  margin-top: 80px;
}
