.container-narrow {
  width: 50%;
  margin: 40px auto;
}
.user-info {
  display: flex;
}
.info {
  p {
    margin-bottom: 8px;
    margin-right: 15%;
  }
}
.address {
  font-weight: 400;
}
.reviews {
  margin-top: 50px;
}
.review-post {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  margin-top: 8px;
  background-color: rgba(145, 49, 138, 0.1);
}

.fa-star {
  color: orange;
  background-color: none;
}

.fa-star-half {
  color: wheat;
}
.helpr-points {
  color: $light-purple;
}
.address-align {

}
@media (max-width: 450px) {
  .container-narrow {
    padding: 16px;
    width: 100%;
  }
  .address {
    font-size: 12px;
  }
}
