
.container {
  padding: 40px 0;
  display: flex;
}
.post {
  display: flex;
  padding: 16px;
  margin-top: 8px;
  background-color: rgba(145, 49, 138, 0.1);
}
.create-post {
  border-radius: 40px 40px 0px 0px;
  padding: 16px;
  background: $purple-grad;
  p {
    color: white;
    margin: 0;
    display: inline;
  }
  img {
    margin-right: 16px;
  }
}
.posts-container {
  width: 58%;
  margin-right: 40px;
}
.map-container {
  border-radius: 40px;
  overflow: hidden;
  width: 40%;
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}
.map-bottom {
  border-radius: 0px 0px 40px 0px;
  padding: 16px;
  background: $purple-grad;
  p {
    color: white;
    margin-bottom: 0;
  }
  h3 {
    color: white;
  }
}
.post-content p{
  margin-bottom: 0;
}
