.container {
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
}
.post {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  margin-top: 8px;
  background-color: rgba(145, 49, 138, 0.1);
  &:hover {
    background-color: rgba(145, 49, 138, 0.3);
  }
}
.create-post {
  border-radius: 40px 40px 0px 0px;
  padding: 16px;
  background: $purple-grad;
  p {
    color: white;
    margin: 0;
    display: inline;
  }
  img {
    margin-right: 16px;
  }
  &:hover {
    background: $blue-grad;
  }
}
.posts-container {
  width: 58%;
  margin-right: 40px;
  a {
    text-decoration: none;
  }
}
.map-container {
  position: sticky;
  position: -webkit-sticky;
  top: 110px;
  border-radius: 40px;
  overflow: hidden;
  // width: 30%;
  width: 40%;

  img {
    height: 250px;
    // width: 100%;
    object-fit: cover;
  }
}
.map-bottom {
  border-radius: 0px 0px 40px 0px;
  padding: 24px;
  background: $purple-grad;
  p {
    color: white;
    margin-bottom: 0;
  }
  h3 {
    color: white;
  }
}
.post-content p{
  margin-right: 24px;
  margin-bottom: 0;
}
.post-container .links {
  color: black;
  text-decoration: none;
}
.avatar-post-container {
  display: flex;
}
