.container {
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.post {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  margin-top: 8px;
  background-color: rgba(145, 49, 138, 0.1);
  &:hover {
    background-color: rgba(145, 49, 138, 0.3);
  }
}
.create-post {
  border-radius: 40px 40px 0px 0px;
  padding: 16px;
  background: $purple-grad;
  p {
    color: white;
    margin: 0;
    display: inline;
  }
  img {
    margin-right: 16px;
  }
  &:hover {
    background: $blue-grad;
  }
}
.posts-container {
  width: 58%;
  margin-right: 40px;
  min-height: 100vh;
  a {
    text-decoration: none;
  }
}
.map-container {
  position: -webkit-sticky;
  top: 66px;
  position: sticky;
  border-radius: 40px;
  overflow: hidden;

  img {
    height: 250px;
    // width: 100%;
    object-fit: cover;
  }
}

.map-dashboard {
  width: 100%;
}
.sub-header {
  background: linear-gradient(to left, #F9DD47, #EFAC42);
  padding: 5px;
  margin: 10px 0;
  color: white;
}

.map-bottom {
  border-radius: 0px 0px 40px 0px;
  padding: 24px;
  background: $purple-grad;
  p {
    color: white;
    margin-bottom: 0;
  }
  h3 {
    color: white;
  }
}
.post-content p{
  margin-right: 24px;
  margin-bottom: 0;
}
.post-container .links {
  color: black;
  text-decoration: none;
}
.avatar-post-container {
  display: flex;
}
