.container {
  display: flex;
}
.show-post-container {
  background-color: rgba(145, 49, 138, 0.1);
  padding: 16px;
  border-radius: 8px;
  width: 65%;
  a {
    text-decoration: none;
  }
}
.img-text {
  display: flex;

}
.show-post {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.chat-container {
  background-color: rgba(145, 49, 138, 0.1);
  padding: 16px;
  border-radius: 8px;
  width: 35%;
  margin-left: 16px;
}
.chat-container-placeholder {
  background-color: rgba(145, 49, 138, 0.1);
  padding: 16px;
  border-radius: 8px;
  width: 35%;
  margin-left: 16px;
  text-align: center;
  h2 {
    margin: 24px 0;
    font-weight: bold;
    color: $light-purple;
  }
}
.show-text {
  h3 {
    font-size: 24px;
    color: $light-blue;
  }
  h4 {
    font-size: 20px;
    font-weight: bolder;
  }
}
.bid-offer {
  margin-top: 24px;
  border-radius: 50px 50px 50px 0px;
  text-align: center;
  padding: 16px;
  background: $purple-grad;
  color: white;
  p {
    margin: 0;
  }
  &:hover {
    background: $blue-grad;
  }
}
.see-offer {
  margin-top: 24px;
  border-radius: 50px 50px 50px 0px;
  text-align: center;
  padding: 16px;
  background: $purple-grad;
  color: white;
  p {
    margin: 0;
  }
}
.completed {
  margin-top: 24px;
  border-radius: 50px 50px 50px 0px;
  text-align: center;
  padding: 16px;
  background: $green-grad;
  color: white;

  p {
    margin: 0;
  }
  &:hover {
    p {
      font-size: 18px;
      transition: 0.3s all;
    }
  }
}
.bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  border-radius: 50px 50px 50px 0px;
  border: 2px solid $light-purple;
  .bid-user-info img {
    margin-left: 16px;
  }
  .bid-user-info p {
    margin: 0;
  }
  .bid-user-info h3 {
    padding: 16px;
    margin: 0;
  }
}
.bid-user-info {
  display: flex;
  align-items: center;
}
.bid1 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  border-radius: 50px 50px 50px 0px;
  border: 2px solid $light-purple;
  p {
    margin: 0;
  }
  h3 {
    padding: 16px;
    margin: 0;
  }
}
.view {
  display: flex;
  align-items: center;
  color: $light-purple;
  padding: 16px;
  background: $yellow-grad;
  p {
    margin: 0;
  }
  &:hover {
    color: white;
    transition: 0.3s ease;
  }
}

.approve {
  display: flex;
  align-items: center;
  color: white;
  border-radius: 0px 50px 50px 0px;
  padding: 16px;
  background: $purple-grad;
  p {
    margin: 0;
  }
  &:hover {
    background: $blue-grad;
    transition: 0.3s ease;
  }
}
.pending {
  display: flex;
  align-items: center;
  color: white;
  border-radius: 0px 50px 50px 0px;
  padding: 16px;
  background: $purple-grad;
  p {
    margin: 0;
  }
}
.view-approve {
  display: flex;
}
.approved {
  display: flex;
  align-items: center;
  color: white;
  border-radius: 0px 50px 50px 0px;
  padding: 16px;
  background: $blue-grad;
  p {
    margin: 0;
  }
}
.margin-left {
  margin-left: 50px;
}








